<div class="content" [class.hidden]="loadingImage">
    <div class="wrapper clickable" (click)="imgLink.click()">

        <a #imgLink target="_blank" [href]="entry.link">
            <img [src]="entry.media?.m" (load)="imageLoaded()"/>
        </a>

        
        <div class="overlay">
            <label class="bottom author text">@{{entry.author | author}}</label>
        </div>
    </div>
    <span class="drawer" *ngIf="entry.tags && entry.tags.length > 0">
        <tag-box class="tags" [tags]="entry.tags | strToArr" (onTagClicked)="handleTagClicked($event)"></tag-box>
    </span>
</div>

<!-- TODO: Add animated loading icon -->
<div class="content loading" [class.hidden]="!loadingImage">
    <div class="wrapper">
    </div>
</div>
