:host {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.search-bar {
    width: 35%;
}

.search-bar input {
    width: 100%;
    display: block;
    background: none;
    border-width: 0;
    border-color: transparent;
    outline: none;
    font-size: 20px;

    padding-left: 35px;
    background-image: url("/assets/search.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
    width: 100%;
}